<% if !current_user %>
	<div class="span12">
		<div class="hero-cover">
		  <%= image_tag("Hardware-CPU.jpg", alt: "Front Cover") %>
		</div>
		<div class="center well well-square">
		  <h1 class="title">歡迎來到校園二手交易</h1>
		  <h2>點擊註冊或登入瀏覽上架商品</h2>
		  <%= link_to "馬上註冊", new_user_registration_path, 
		                                 class: "btn btn-large btn-success" %>
		</div>
	</div>
<% else %>
  <div class="span12">
  <ul>
		<div class="items">
		<% if not @items.empty? %>
	 		<%= render :partial => "items/item", :collection => @items, :as => :item %>
		<% else %>
			<h3>目前還未有上架商品</h3>
		<% end %>
	 	</div>
  </ul>
	</div>
<% end %>
