<%= form_tag items_path, :class => "navbar-search", :method => :get do %>
   <span class="nav-toolbar-icon nav-toolbar-icon-search"></span>
   <%= text_field_tag :search, params[:search], :class => "search-query", :placeholder => "Search" %>
<% end %>